:root {
    /* Primary color */
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);
    /* Neutral color */
    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* remove default list style */
li {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    /* font-size: 1.6rem; */
    background-color: var(--Magnolia);
    position: relative;
}

/* Inherit fonts for inputs and buttons */
input,
button {
  font: inherit;
}

/* images */
img {
    width: 100%;
  }
/* HIDE STEP */
.step {
    display: none;
  }
  /* SHOW ACTIVE STEP */
  .step.active {
    display: inline-block;
  }
  